*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}
.container{
    width: 60vw;
    max-width: 90vw;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score{
    font-size: 2rem;
    font-weight: 900;
    color: teal;
    margin-bottom: 50px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.username-input{
    border: none;
    width: 25vw;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 9px 1px rgba(0, 128, 128, 0.4);
}
.btn{
    border: none;
    width: 25vw;
    padding: 10px;
    margin-bottom: 10px;
    color: teal;
    font-weight: 700;
    border: 2px solid rgba(0, 128, 128, 0.4);
}
.btn:hover{
    box-shadow: 4px 4px 9px 1px rgba(0, 128, 128, 0.4);
    transition: all ease 0.5s;
}
form > a{
    text-decoration: none;
    text-align: center;
}